{% extends "layout.html" %}

{% block content %}

<body>
<head>
   <link rel="stylesheet" type="text/css" href="static/css/chatroom.css">
     <title>Chatroom</title>
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
     <link rel="icon" href="favicon.ico" type="image/x-icon">
 </head>
 
 
     



  <div class="banner">
      <div class="container">
        <div class="span" >
            <h1>Improv Acting Session 1</h1>
 
     <h4>Current Prompt Place Holder<h4>
     <h4> Category: Example </h4>
     <h4> Timer Place Holder </h4>
             <h1>Improv Chatroom 1</h1>
           <div>
             <button id="startButton">Start Session</button>
             <button id="callButton">Call</button>
             <button id="hangupButton">End Session</button>
             <button id="changePrompt">Change Prompt</button>

           </div>
             
           <h2>Actor 1: </h2>
           <video id="localVideo" autoplay></video>
           <h2>Actor 2: </h2>
           <video id="remoteVideo" autoplay></video>
 

 
   <script src="../static/js/video.js"></script>
   <script src="../static/js/adapter.js"></script>

        </div>
      </div>
    </div>













</body>
{% endblock %}