<html>
    <head>
        <title>Chatroom</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
	<div class="wrapper">
            <div class="banner">
                <h1>Chatroom</h1>
		<span id="status"></span>
            </div>
	    <div id="historyMsg">
            </div>
	    <div class="controls" >
                <div class="items">
                    <input id="colorStyle" type="color" placeHolder='#000' title="font color" />
		    <label for="sendImage" class="imageLable">
                        <input type="button" value="image"  />
                        <input id="sendImage" type="file" value="image"/>
                    </label>
		    <input id="clearBtn" type="button" value="clear" title="clear screen" />
                </div>
		<textarea id="messageInput" placeHolder="enter to send"></textarea>
		<input id="sendBtn" type="button" value="SEND">
            </div>
        </div>
	<div id="login">
            <p id="info">connecting to server...</p>
            
        </div>
	<script src="/socket.io/socket.io.js"></script>
        <script src="scripts/chatroom.js"></script>
    </body>
</html>
