{% extends "layout.html" %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="static/css/create.css">
</head>
<div class="create_title_body">
  <h1 class="create_title"> Stand-Up Comedy</h1>
  <div class="stand_description">
      <p>Description of how stand-up comedy sessions work</p>
  </div>
</div>
<div class="create_body">
  <h3 class="room_title">Room Options</h3>
  <div class="room_body">
    <form>
      <div class="input-group lobby">
        <span class="input-group-addon">Lobby Name</span>
        <input id="msg" type="text" class="form-control" name="msg">
      </div>
      <div class="form-inline select_time">
        <label class="time_name">Time Duration(min):</label>
        <select class="form-control" id="sel1">
          <option>5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
        </select>
      </div>
        <div class="form-inline room_type">
          <labe class ="room_name"l>Room Type:</label>
          <select class="form-control" id="sel1">
            <option>Public</option>
            <option>Private</option>
          </select>
        </div>
    </from>
    <div class="c_box">
    <label class="checkbox-inline"><input type="checkbox" value="">Voice</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Camera</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Text</label>
    </div>
    <a href="{{url_for('chatroom')}}"><button type="button" class="btn btn-primary create_button">Create</button></a>
</div>
{% endblock %}
