<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Improv Chatroom</title>


<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'>
<link rel="stylesheet" type="text/css" href="static/css/layout.css">
</head>
<body>
  <head>
    <title>Improv Chatroom</title>
</head>

<body>
	<div>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
   <div class="container topnav">
   <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

   </button>
   <a class="navbar-brand topnav" target="_blank">Improv Chatroom</a>
            </div>

   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{url_for('index')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{url_for('browse')}}">Watch</a>
                    </li>
                    <li>
                        <a href="{{url_for('create_page')}}">Create</a>
                    </li>
                   <li>
                        <a href="#User Profile">User Profile</a>
                    </li>
                    
                    {% if userLoggedIn %}
                      <li>
                          <a href="{{url_for('logout')}}">Log out</a>
                      </li>

                    {% else  %}

                      <li>
                          <a href="{{url_for('login')}}">Log in</a>
                      </li>

                    {% endif %}

                    {% if userLoggedIn %}


                    {% else  %}

                      <li>
                          <a href="{{url_for('signup')}}">Sign up</a>
                      </li>
                    {% endif %}                      


                </ul>
            </div>
        </div>
    </nav>
	</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
