<!DOCTYPE html>
<html>
	<head>
		<title> Improv Chatroom</title>
		<link rel="stylesheet" href="/static/Css/improv_app.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<style>
			.title_page {
				display: inline-block;
				color: grey;
			}
			.heading {
				background-color: black;
			}
			.heading a {
				color: grey;
			}
			.navbar {
				margin-left: 55%;
			}
			.heading a:hover {
			    color: white;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="heading">
				<h1 class="title_page">Improv Chatroom Homepage</h1>
				<nav class="navbar title_page">
  				<a class="navbar-brand" href="#">Home</a>
					<a class="navbar-brand" href="#">Watch</a>
					<a class="navbar-brand" href="#">Create</a>
					<a class="navbar-brand" href="#">Sign in</a>
				</nav>
			</div>
		</header>
		{% block content %}
		{% endblock %}


	</body>
</html>
