{% extends "layout.html" %}

{% block content %}

<body>
  <head>
	<style>
        h2 {margin-top: 0;}
        ul {margin: 0;}
	.banner{
	background:rgba(2, 255, 255, 0.7);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:600px;
}
	</style>
</head>
	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>Live Improv Theatre<br>Watch live threatre acting sessions going on right now</h2>
			    <div class="search">
			      <ul class="nav1">
		            <li id="search">
						<form action="" method="get">
							<input type="text" name="search_text" id="search_text" placeholder="Search"/>
							<input type="button" name="search_button" id="search_button" value="Search">
						</form>
					</li>
					<li id="options">
						<a href="#">All Type</a>
						<ul class="subnav">
							<li><a href="#">Arting</a></li>
							<li><a href="#">Comedy</a></li>
						</ul>
					</li>
	              </ul>
	            </div>
			</div>
		</div>
	</div>
	
</body>
{% endblock %}