<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>search_page</title>
  
  
  
  
  
</head>

<body>
  
<html>

<body>
	<div class="search_result">

		   <h4>Collections</h4>
			 
<body>  
  <div class="dede_pages">    
    <ul class="pagelist">      
      <li><a href="p1.html">First</a></li> 
      <li><a href="p1.html">1</a></li>  
      <li><a href="p2.html">2</a></li> 
      <li><a href="p3.html">3</a></li> 
      <li><a href="p4.html">4</a></li> 
      <li><a href="p5.html">5</a></li> 
      <li><a href="p6.html">6</a></li> 
      <li><a href="p7.html">7</a></li> 
      <li><a href="p8.html">8</a></li>  
      <li><a href="p2.html">Next</a></li> 
      <li><a href="p8.html">Last</a></li>     
    </ul>   
  </div>           
 </body>
	
</body>
</html>
  
  
</body>
</html>
