{% extends "layout.html" %}

{% block content %}

<body>  
  <head>
	<style>
    
  </style>
  </head>
  <div class="dede_pages">  
     <h2>Search Result</h2>
    <ul class="pagelist" style="margin-top: 150px;margin-left: 650px;">      
      <li><a href="p1.html">First</a></li> 
      <li><a href="p1.html">1</a></li>  
      <li><a href="p2.html">2</a></li> 
      <li><a href="p3.html">3</a></li> 
      <li><a href="p4.html">4</a></li> 
      <li><a href="p5.html">5</a></li> 
      <li><a href="p6.html">6</a></li> 
      <li><a href="p7.html">7</a></li> 
      <li><a href="p8.html">8</a></li>  
      <li><a href="p2.html">Next</a></li> 
      <li><a href="p8.html">Last</a></li>     
    </ul>   
  </div>           
 </body>		
{% endblock %}